table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 1px;
    text-align: center;
    background-color: #fdf7da;
}

button.down-arrow {
    background-color: #e7e7e7; color: black;
    /*box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2), 0 8px 8px 0 rgba(0,0,0,0.19);*/
    border: none;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    border-radius: 8px;
    width: 100%;
}

button.down-arrow:hover:enabled {
    background-color: #4CAF50; /* Green */
    color: white;
}